/* @import "~nprogress/nprogress.css";
#nprogress .bar {
  z-index: 1431;
  background: #ff0000b0;
}
#nprogress .spinner-icon {
  border-top-color: #ff0000b0;
  border-left-color: #ff0000b0;
}
.gutter-data-table-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - var(--sidebar-form-width));
}
#gutter-data-table {
  width: 15px;
  height: 18px !important;
  z-index: 1;
  margin-left: -55px;
  top: -21px;
  position: absolute;
  background-color: #ffff;
  background-image: url("/assets/images/view_comfy.png");
}
.gutter {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  z-index: 1414;
}
.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: move;
}
.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

.mapboxgl-ctrl-group input[type="checkbox"] {
  width: 29px;
  height: 29px;
  overflow: hidden;
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  border-bottom: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.mapboxgl-ctrl-group input[type="checkbox"]:last-of-type {
  border-bottom: none;
}

.mapboxgl-ctrl-group input[type="checkbox"]:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.mapboxgl-ctrl-group input[type="checkbox"]:checked {
  background-color: rgba(0, 0, 0, 0.15);
}

.mapboxgl-ctrl-group input[type="checkbox"]:after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: inline-block;
} */
