:root {
  --map-menu-height: 48px;
  --map-sidebar-menu-height: 40px;
  --form-footer: 50px;
  --project-header-height: 63px;
  --left-menu-width: 320px;
  --sidebar-form-width: 0px;
  --map-sidebar-left: 48px;
  --font-Inter: 'Inter', sans-serif, DefaultFont;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter', sans-serif, DefaultFont;
  }
}
.SnackbarItem-contentRoot {
  background-color: #f0f0f0 !important;
  box-shadow: 0 20px 32px -8px #091e4240 !important;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Inter', sans-serif, DefaultFont !important;
  // follow inter https://rsms.me/inter/
  letter-spacing: -0.004em;
  scroll-behavior: smooth;
  font-kerning: normal;
  a[href] {
    color: inherit;
    text-decoration: none;
  }
}

#z1-map-wrapper {
  display: flex;
  overflow: hidden;
  height: calc(100vh - var(--top-header-height, 0px));
  .min-h-screen {
    height: 100%;
  }
  .mapboxgl-map {
    display: none;
  }
  #z1data-map-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    z-index: 5;
  }
  #map-z1-wrapper {
    position: relative;
  }
  #z1-map-data {
    width: calc(100vw - var(--sidebar-form-width));
  }
  #map-z1-menu {
    height: var(--map-menu-height);
  }
  #z1-map-sidebar {
    margin-top: var(--map-menu-height);
  }
  #z1data-map-wrapper {
    display: flex;
    flex-direction: column;
  }
  .gutter {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    z-index: 1;
    cursor: move;
  }

  .gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  }
  .split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .split {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
// Global style needed here due to menu component initialy used Global classes
// .MuiPaper-rounded:not(.default):not(.MuiDialog-paper) {
//   border-radius: 0 !important;
// }

.MuiCardHeader-root {
  &.title-form {
    padding: 15px 16px;
    .MuiCardHeader-title {
      font-size: 1rem;
      flex: 1;
      font-weight: 500;
      line-height: 1;
      color: #3d3d3d;
    }
    & ~ .MuiCardContent-root {
      padding-top: 0px;
      border-top: 1px solid #eaeaea;
    }
  }
}
.page-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.334;
  color: #3d3d3d;
}
.MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
// End

.mapboxgl-ctrl-logo {
  display: none !important;
}
#map-menu-horizontal {
  height: 38px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
}
#form-data-table {
  overflow: hidden;
  background-color: #ffff;
  .ht_clone_left {
    height: 100% !important;
    .wtHolder {
      height: calc(100% - 7px) !important;
    }
  }
  .ht_clone_top {
    background-color: #f0f0f0;
    width: calc(100% - 7px) !important;
    // height: 26px !important;
  }
  .wtHolder {
    width: 100% !important;
  }
}

@import './mapbox_popup';
